trigger:
  branches:
    include:
      - none

pool:
  name: linux-hosted-agent

stages:
- stage: Scan
  jobs:
  - job: scanning
    steps:

    # --- SonarQube Prepare ---
    - task: SonarQubePrepare@8
      condition: ne(variables['Build.Reason'], 'PullRequest')
      inputs:
        SonarQube: 'sonarsvc'
        scannerMode: 'CLI'
        configMode: 'manual'
        cliProjectKey: 'infra-deploy19-dec'
        cliProjectName: 'infra-deploy19-dec'
        cliSources: '.'
        extraProperties: |
          sonar.branch.name=
          sonar.pullrequest.key=
          sonar.pullrequest.branch=
          sonar.pullrequest.base=

    # --- Analyze ---
    - task: SonarQubeAnalyze@8
      condition: ne(variables['Build.Reason'], 'PullRequest')
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'

    # --- Publish ---
    - task: SonarQubePublish@8
      condition: ne(variables['Build.Reason'], 'PullRequest')
      inputs:
        pollingTimeoutSec: '300'
